.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 40px;
  text-align: center;
  padding: 0 5px 0 5px;
  justify-content: space-around;
  background-color: #d7d7d7;
  overflow: hidden;

  .sidebar_wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
  }
}

.sidebar_link {
  padding: 2px;
  font: 1000 3.3px 'Open Sans', sans-serif;
  background-color: #7f00ff;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }
}

.sidebar_link:hover {
  background-color: #b3d4fc;
}

.sidebar_title {
  font: 1000 4px 'Silkscreen', cursive;
  padding: 2px 5px 2px 5px;
  border: 0.2vw dashed #7f00ff;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
}
