.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7px;
  padding-top: 15px;
  max-width: 500px;
}

.wrapper img {
  max-width: 200px;
  border-radius: 3%;
  z-index: -1;
  margin-left: -15px;
}

.root {
  font: 1000 5px 'Poppins', sans-serif;
  margin-left: -200px;
  text-shadow: -3px -3px 0px #000;
  background: repeating-linear-gradient(45deg, #7f00ff, #7f00ff 0.3px, #fff 2px, white 3.5px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid transparent;
}

.text {
  font: 1000 5px 'Poppins', sans-serif;
  transform: rotate(-3deg);
  max-width: 200px;
  transition: all 0.3s ease-in-out;
}

.text:hover {
  transform: rotate(3deg);
}

.header {
  font: 1000 3px 'Poppins', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.header img {
  max-width: 20px;
  border-radius: 50%;
}
