.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7px;
  padding-top: 15px;
  max-width: 500px;

  & img {
    max-width: 170px;
    border-radius: 3%;
    z-index: -1;
    webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .text {
    font: 1000 5px 'Poppins', sans-serif;
    max-width: 200px;
    transition: all 0.3s ease-in-out;
    color: #333333;
  }

  .root {
    font: 1000 4px 'Roboto', sans-serif;
    margin-left: -170px;
    color: #333333;
  }
}
