.sprint-card {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sprint__original-word {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 4px;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 3px;
  border: 1px solid #ffaa22;
  padding: 2px 3px;
}

.sprint__translated-word {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 4px;
}

.sprint-audio-play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 2px;
  width: fit-content;
  border-radius: 50%;
}

.sprint-audio-play::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url('./images/sound_ico.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sprint-audio-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.sprint-content .game-points-mute {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sprint-audio-figcaption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4px;
}

.sprint-audio-play {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.6s;

  &:hover {
    background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    background-color: #ff5bb0;
    transition: 0.9s;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.sprint__word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  margin: 5px 0;
}
