.team {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  order: 1;
  align-items: center;
  margin-left: 60px;
  gap: 10px;

  .img {
    width: 13px;
    border-radius: 30%;
  }

  @media screen and (max-width: 768px) {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.developers {
  color: white;
  width: 80px;
  display: flex;
  height: 70px;
  flex-flow: column wrap;
  align-items: flex-start;
  border-radius: 5px;
  gap: 5px;
  z-index: 666;
  padding: 3px;
  background-color: rgba(21, 20, 43, 0.3);
  box-shadow: 1px 1px 1px -1px rgba(255, 255, 255, 0.1), 0px 1px 1px 0px rgba(255, 255, 255, 0.14),
    0px 1px 3px 0px rgba(255, 255, 255, 0.12);
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: 768px) {
    height: 48px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px -1px rgba(127, 0, 255, 0.2), 0px 1px 1px 0px rgb(0 0 0 / 14%),
      0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
  }
  .header {
    font: 3px 'Poppins', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    @media screen and (max-width: 768px) {
      flex-flow: row;
    }
  }

  .body {
    display: flex;
    gap: 10px;
    .text {
      font: 900 3px 'Poppins', sans-serif;
    }
  }
}
