.signIn {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  z-index: 666;
  opacity: 0.95;
  animation: anime 0.3s ease-in-out forwards;

  .input {
    font: 1000 3px 'Poppins', cursive;
    min-width: 100px;
    padding: 3px;
    border: 1.1px solid #c0c0c0;
    transition: all 0.2s ease-in-out;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;

    &:focus {
      border: 1px solid #7f00ff;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    min-width: 109px;

    .btn {
      font: 1000 3px 'Poppins', cursive;
      padding: 3px;
      transition: all 0.2s ease-in-out;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;

      &:focus {
        border: 1px solid #7f00ff;
        transform: scale(0.95);
      }
    }

    .btnSig {
      font: 1000 3px 'Poppins', cursive;
      padding: 3px;
      transition: all 0.1s ease;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;

      &:active {
        border: 1px solid #7f00ff;
        transform: scale(0.95);
      }
    }
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  padding: 3px;
  border: 1px solid #333333;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.3;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
