.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: center;
  gap: 10px;
  z-index: 50;

  .wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 15px;

    .link {
      font: 1000 3.3px 'Silkscreen', cursive;
      color: #222222;
    }
  }
}

.rs {
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 5px;

  & img {
    height: 10px;
    border-radius: 30%;
  }
}

.cat img {
  height: 10px;
  border-radius: 50%;
  max-width: 10px;
}
