.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  z-index: 6666;

  .wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 5px;
  }

  .text {
    font: normal 100 4px 'Fira Code', sans-serif;
    color: #222222;
    transition: 0.3s ease-in-out all;
    padding: 0 3px;

    &:hover {
      background-color: #222222;
      border-radius: 5px;
      color: #fff6af;
      cursor: pointer;
    }
  }
}

.btn {
  background: transparent;
  outline: none;
  z-index: 100;
  padding: 1.3px;
  border-bottom-left-radius: 1.3px;
  border-top-right-radius: 1.3px;
  transition: 0.3s ease-in-out all;
  &:hover {
    background-color: #222222;
    border-radius: 5px;
    color: #fff6af;
    cursor: pointer;
  }
}
